<dx-button text="Limpar filtros" ></dx-button>
<dx-data-grid [dataSource]="categorias"
              (onRowRemoved)="onProdutoRowRemoved($event)"
              (onRowUpdated)="onProdutoRowEditing($event)"
              (onRowInserting)="insertRow($event)"
              (onRowInserted)="onRowInserted($event)"
              [showBorders]="true"
              [showRowLines]="true"

>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing
            mode="popup"
            [allowUpdating]="true"
            [allowAdding]="true"
            [allowDeleting]="true"
            [useIcons]="true">
    </dxo-editing>

    <dxi-column dataField="id" caption="Codigo" [width]="130"></dxi-column>
    <dxi-column dataField="descricao"></dxi-column>
    <dxi-column dataField="codigo_interno" [width]="130"></dxi-column>
</dx-data-grid>
